@import "tailwindcss";

#phone-canvas {
  width: 100%;
  height: clamp(300px, 60vh, 600px);
}

.hero-line {
  position: absolute;
  width: 100%;
  left: 12%;
  top: 0;
}


/* .phone-canvas {
  width: 100%;
  max-width: 450px;
  height: 85vh;
  max-height: 850px;
}

#hero-section{
  min-height: 100vh;
} */

.aptos-text {
  letter-spacing: -0.02em;
  background: linear-gradient(
    90deg,
    #60a5fa,
    #a78bfa,
    #6366f1,
    #60a5fa
  );
  background-size: 300% auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientFlow 6s linear infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 300% center;
  }
}

.aptos-features {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.aptos-card {
  width: 100%;
  text-align: center;
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight:500;
  letter-spacing: -0.02em;
  color: #e5e7eb;
}

@media (min-width: 768px) {
  .aptos-card {
    font-size: 3.5rem;
  }
}

body {
  background: linear-gradient(135deg, #1f2937, #111827);
}

.hero-scroll-indicator {
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.77;
  pointer-events: none;
}